/*-------------
    RESET
--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------
    COMMONS
--------------*/
body {
    color: #000;
    font-family: 'Rubik Mono One', sans-serif;
}

/*-------------
    TYPO
--------------*/
h1 {
    font-size: 32px;
}

/*-------------
    HEADER
--------------*/
header {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.main-nav li, .main-nav li a {
    display: inline-block;
}
.main-nav li a {
    text-decoration: none;
    color: inherit;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-left: 16px;
    box-shadow: 1px 2px 5px #888;
}

/*-------------
    MAIN
--------------*/

section {
    height: 100vh;
    position: relative;
    color: yellow;
}

#shoes-1 {
    background-color: red;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box img {
    max-width: 650px;
}